[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The MongoDB driver for Go. See http://labix.org/mgo for details.
[access "refs/*"]
	owner = group user/Emmanuel J. Eppinger (eppingere)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Emmanuel J. Eppinger (eppingere)
	label-Verified = -1..+1 group user/Emmanuel J. Eppinger (eppingere)
	push = group user/Emmanuel J. Eppinger (eppingere)
	read = group user/Emmanuel J. Eppinger (eppingere)
	rebase = group user/Emmanuel J. Eppinger (eppingere)
	removeReviewer = group user/Emmanuel J. Eppinger (eppingere)
	submit = group user/Emmanuel J. Eppinger (eppingere)
[access "refs/heads/*"]
	create = group user/Emmanuel J. Eppinger (eppingere)
	push = +force group user/Emmanuel J. Eppinger (eppingere)
	pushMerge = group user/Emmanuel J. Eppinger (eppingere)
	read = group user/Emmanuel J. Eppinger (eppingere)
[access "refs/tags/*"]
	push = group user/Emmanuel J. Eppinger (eppingere)
	push = +force group user/Emmanuel J. Eppinger (eppingere)
